@import-normalize;

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
  * Remove the border on images inside links in IE 10-.
  */
img {
  border-style: none;
}

main {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
